<div>
    <form #inputForm="ngForm" (ngSubmit)="formSubmitted()">

        <!--hier wird die frage eingegeben-->
        <textarea class="form-control" rows="5" placeholder="Wie können wir Ihnen helfen?" required
                  [(ngModel)]="text"></textarea>
        <span class="input-group-btn">
                <!--das ist der abschicken button-->
            <button class="btn btn-primary" type="submit" [disabled]="hasAsked">Abschicken!</button>
        </span>

    </form>

    <div id="responseWrapper" style="font-weight: bold">
        <!--wenn die frage abgeschickt wurde, läuft eine warte-animation-->
        <div id="wait" *ngIf="!questionAnswered">
            {{ answer }}
        </div>
        <!--todo david-->
        <!--wenn die frage angekommen ist, wird die warteanimation durch den text ersetzt-->
        <div id="answered" *ngIf="questionAnswered">
            <!--todo david-->
            {{ answer }}
        </div>
    </div>
</div>
