<div>
    <!--<div class="col-md-12">-->
        <form #inputForm="ngForm" (ngSubmit)="formSubmitted()">

            <!--hier wird die frage eingegeben-->
            <textarea class="form-control" rows="5" placeholder="Please insert your question to our team..." required
                      [(ngModel)]="text"></textarea>

            <br/>
            <!--das ist der abschicken button-->
            <button class="btn btn-primary" type="submit" [disabled]="hasAsked">Submit your question!</button>

        </form>

        <div id="responseWrapper" style="font-weight: bold">
            <!--wenn die frage abgeschickt wurde, läuft eine warte-animation-->
            <div id="wait" *ngIf="!questionAnswered">
                {{ answer }}
            </div>
            <!--wenn die frage angekommen ist, wird die warteanimation durch den text ersetzt-->
            <div id="answered" *ngIf="questionAnswered">
                {{ answer }}
            </div>
        </div>
    <!--</div>-->
</div>
