.myContainer {
    display: flex;
    felx-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    height: 80vh;
}

.myLeftContainer, .myRightContainer {
    width: 45vw;
    margin: 5vh 5vw;
}

.myLeftContainer {
    order: 1;
    border: 1px red solid;
}

.myRightContainer {
    border: 1px blue solid;
    order: 2;
}

.doc-pic {
    /*background-size: contain;*/
    /*background: url('../img/docPic.jpg') no-repeat center;*/

    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-color: #f8f8f8;
    background-image: url('../img/docPic.jpg');
    /*background-size: cover;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
